*María Obdulia González Fernández*

**Diccionarios**

Son estructuras de datos que almacena pares clave-valor.
Cada elemento de un diccionario consta de una** clave **(key) y un **valor** (value) asociado a esa clave.  se estructuran { clave : valores}
A través de los diccionarios se pueden crear bases de datos,



> Agregar bloque entrecomillado

In [4]:
d={"Cesar":[" MAría", "José", " Brenda"],
   "Julio":[3,10,12],
   " Galileo": [7.0, 5.0, 6.0]}

In [5]:
type(d)

dict

**Keys** permiten mostrar las llaves del diccionario

In [6]:
d.keys()

dict_keys(['Cesar', 'Julio', ' Galileo'])

In [7]:
type(d.keys())

dict_keys

In [8]:
d.values()

dict_values([[' MAría', 'José', ' Brenda'], [3, 10, 12], [7.0, 5.0, 6.0]])

In [9]:
d.items()

dict_items([('Cesar', [' MAría', 'José', ' Brenda']), ('Julio', [3, 10, 12]), (' Galileo', [7.0, 5.0, 6.0])])

Los diccionarios se pueden convertir en listas

In [10]:
list(d.keys())[0]

'Cesar'

In [13]:
t=list(d.items())
t [0]
type (t[0])

tuple

La Lista se puede convertir en una tupla

Ejemplo **probabilístico **clasica ejercicio de lanzamiento de los datos:

In [16]:
from itertools import product
from fractions import Fraction

In [18]:
def P(A, Omega):
  P=Fraction(len(A), len(Omega))
  return P

In [20]:
S_2 = {(i,j) for i in range (1,7) for j in range (1,7) if i+j == 2 }
S_2

{(1, 1)}

In [21]:
L=[i for i in range (1,7)]
Omega = set (product (L, repeat=2))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [22]:
S ={(i,j): i+j for i,j in Omega}
S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [25]:
from collections import defaultdict
dS = defaultdict(set)
dS

defaultdict(set, {})

In [26]:
for l,v in S.items():
  dS[v].add(l)
dS

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

SE crea otro diccionario a partir del anterior para construir un objeto de lista de tuplas

In [27]:
dS.items()

dict_items([(7, {(3, 4), (4, 3), (6, 1), (1, 6), (2, 5), (5, 2)}), (4, {(3, 1), (1, 3), (2, 2)}), (9, {(4, 5), (5, 4), (6, 3), (3, 6)}), (10, {(4, 6), (6, 4), (5, 5)}), (6, {(2, 4), (1, 5), (5, 1), (4, 2), (3, 3)}), (8, {(4, 4), (6, 2), (2, 6), (5, 3), (3, 5)}), (11, {(5, 6), (6, 5)}), (3, {(1, 2), (2, 1)}), (5, {(2, 3), (3, 2), (4, 1), (1, 4)}), (2, {(1, 1)}), (12, {(6, 6)})])

In [30]:
leyS = {k : P (A, Omega) for k, A in dS.items()}
leyS

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

**Introducción a PANDAS**

Pandas proporciona estructuras de datos como el DataFrame, que son como hojas de cálculo con filas y columnas, y herramientas para trabajar con ellas de manera eficiente.

*Convertir diccionarios en dataFrame*

In [32]:
import pandas as pd

In [35]:
leyS = pd.Series(leyS)
leyS = leyS.sort_index()

In [36]:
leyS

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object